package {{.config.PackageName}}.utils;

/**
 * 服务请求状态API枚举
 * @author {{.author}}
 * @date {{.date}}
 **/
public enum APIEmRequestStatus {
	/**
	 * 成功
	 */
	SUCCESS,
	/**
	 * 失败
	 */
	FAIL,
	/**
	 * 异常
	 */
	EXCEPTION
}
