server:
    port: 1601

spring:
    application:
      name: {{.config.PackageName}}
    datasource:
      druid:
        url: jdbc:mysql://{{.config.DatabaseIp}}:{{.config.DatabasePort}}/{{.config.DataBaseName}}?serverTimezone=GMT%2B8&characterEncoding=utf-8&useUnicode=true&autoReconnect=true&connectTimeout=30000&initialTimeout=1&enableQueryTimeouts=true&socketTimeout=2000&allowMultiQueries=true
        username: {{.config.DatabaseUsername}}
        password: {{.config.DatabasePassword}}
        initial-size: 10
        min-idle: 1
        max-active: 20
        test-on-borrow: true
        driver-class-name: com.mysql.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: {{.config.PackageName}}.domain

#设置静态资源路径，多个以逗号分隔
spring.resources.static-locations: classpath:static/,file:static/
