package {{.config.PackageName}};

import org.mybatis.spring.annotation.MapperScan;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.ApplicationContext;
import org.springframework.transaction.annotation.EnableTransactionManagement;

/**
 * SpringBoot Main 程序方法入口
 * @author {{.author}}
 * @date {{.date}}
 */
@SpringBootApplication
@EnableTransactionManagement
@MapperScan({"{{.config.PackageName}}.dao"})
public class Bootstrap {

    /**
     * 程序启动入口
     * @param args 启动参数
     */
    public static void main(String[] args) {
        SpringApplication.run(Bootstrap.class, args);
    }

}
