<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.openmall.user.dao.auto.UserMapper">

    <resultMap id="baseResultMap" type="com.openmall.user.domain.auto.User">
    
        <result property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="phone" column="phone" />
        <result property="address" column="address" />
        <result property="sex" column="sex" />
        <result property="age" column="age" />
        <result property="birth" column="birth" />
        <result property="email" column="email" />
        <result property="yn" column="yn" />
        <result property="createdTime" column="created_time" />
        <result property="modifiedTime" column="modified_time" />
        
    </resultMap>

    <sql id="queryColumns">
        <trim prefixOverrides=",">
        
            ,id
        
            ,username
        
            ,password
        
            ,phone
        
            ,address
        
            ,sex
        
            ,age
        
            ,birth
        
            ,email
        
            ,yn
        
            ,created_time
        
            ,modified_time
        
        </trim>
    </sql>

    <sql id="wherecontation">
        <if test="query!= null">
        
            <if test="query.id != null">
                and id = #{query.id}
            </if>
        
            <if test="query.username != null and query.username != ''">
                and username = #{query.username}
            </if>
        
            <if test="query.password != null and query.password != ''">
                and password = #{query.password}
            </if>
        
            <if test="query.phone != null and query.phone != ''">
                and phone = #{query.phone}
            </if>
        
            <if test="query.address != null and query.address != ''">
                and address = #{query.address}
            </if>
        
            <if test="query.sex != null">
                and sex = #{query.sex}
            </if>
        
            <if test="query.age != null">
                and age = #{query.age}
            </if>
        
            <if test="query.birth != null">
                and birth = #{query.birth}
            </if>
        
            <if test="query.email != null and query.email != ''">
                and email = #{query.email}
            </if>
        
            <if test="query.yn != null">
                and yn = #{query.yn}
            </if>
        
            <if test="query.createdTime != null">
                and created_time = #{query.createdTime}
            </if>
        
            <if test="query.modifiedTime != null">
                and modified_time = #{query.modifiedTime}
            </if>
        
        </if>
    </sql>

    <sql id="getInsertField">
        <trim prefixOverrides=",">
        
        <if test="id != null">
            ,id
        </if>
        
        <if test="username != null">
            ,username
        </if>
        
        <if test="password != null">
            ,password
        </if>
        
        <if test="phone != null">
            ,phone
        </if>
        
        <if test="address != null">
            ,address
        </if>
        
        <if test="sex != null">
            ,sex
        </if>
        
        <if test="age != null">
            ,age
        </if>
        
        <if test="birth != null">
            ,birth
        </if>
        
        <if test="email != null">
            ,email
        </if>
        
        <if test="yn != null">
            ,yn
        </if>
        
        <if test="createdTime != null">
            ,created_time
        </if>
        
        <if test="modifiedTime != null">
            ,modified_time
        </if>
        
        </trim>
    </sql>

    <sql id="getInsertFieldValue">
        <trim prefixOverrides=",">
        
        <if test="id != null">
            ,#{id}
        </if>
        
        <if test="username != null">
            ,#{username}
        </if>
        
        <if test="password != null">
            ,#{password}
        </if>
        
        <if test="phone != null">
            ,#{phone}
        </if>
        
        <if test="address != null">
            ,#{address}
        </if>
        
        <if test="sex != null">
            ,#{sex}
        </if>
        
        <if test="age != null">
            ,#{age}
        </if>
        
        <if test="birth != null">
            ,#{birth}
        </if>
        
        <if test="email != null">
            ,#{email}
        </if>
        
        <if test="yn != null">
            ,#{yn}
        </if>
        
        <if test="createdTime != null">
            ,#{createdTime}
        </if>
        
        <if test="modifiedTime != null">
            ,#{modifiedTime}
        </if>
        
        </trim>
    </sql>

    <insert id="insert" parameterType="User"  useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        /* 用户表 */
        INSERT  INTO  user
        (
            <include refid="getInsertField" />
        )
        VALUES (
            <include refid="getInsertFieldValue" />
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT  INTO  user
        <trim prefix="(" suffix=")" prefixOverrides=",">
        
            ,id	/* 自动编号 */
        
            ,username	/* 用户名 */
        
            ,password	/* 密码 */
        
            ,phone	/* 手机号 */
        
            ,address	/* 地址 */
        
            ,sex	/* 用户性别  0-未知   1-男  2-女 */
        
            ,age	/* 用户年龄 */
        
            ,birth	/* 生日 */
        
            ,email	/* 邮箱 */
        
            ,yn	/* 数据状态 0-无效 1-有效 */
        
            ,created_time	/* 创建时间 */
        
            ,modified_time	/* 修改时间 */
        
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            <trim prefix="(" suffix=")" prefixOverrides=",">
            
                ,#{item.id}	/* 自动编号 */
            
                ,#{item.username}	/* 用户名 */
            
                ,#{item.password}	/* 密码 */
            
                ,#{item.phone}	/* 手机号 */
            
                ,#{item.address}	/* 地址 */
            
                ,#{item.sex}	/* 用户性别  0-未知   1-男  2-女 */
            
                ,#{item.age}	/* 用户年龄 */
            
                ,#{item.birth}	/* 生日 */
            
                ,#{item.email}	/* 邮箱 */
            
                ,#{item.yn}	/* 数据状态 0-无效 1-有效 */
            
                ,#{item.createdTime}	/* 创建时间 */
            
                ,#{item.modifiedTime}	/* 修改时间 */
            
            </trim>
        </foreach>
    </insert>

    <insert id="insertOrUpdate" parameterType="User"  useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        /* 用户表 */
        INSERT  INTO  user
        (
            <include refid="getInsertField" />
        )
        VALUES (
            <include refid="getInsertFieldValue" />
        ) ON DUPLICATE KEY
        <trim prefix="UPDATE" suffixOverrides=",">
            
                    username = VALUES(username),
                
                    password = VALUES(password),
                
                    phone = VALUES(phone),
                
                    address = VALUES(address),
                
                    sex = VALUES(sex),
                
                    age = VALUES(age),
                
                    birth = VALUES(birth),
                
                    email = VALUES(email),
                
                    yn = VALUES(yn),
                
        </trim>
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <update id="update" parameterType="User" >
        UPDATE  user
        /* 用户表 */
        <trim prefix="SET" prefixOverrides=",">
        
            <if test="username != null">
                ,username = #{username}
            </if>
        
            <if test="password != null">
                ,password = #{password}
            </if>
        
            <if test="phone != null">
                ,phone = #{phone}
            </if>
        
            <if test="address != null">
                ,address = #{address}
            </if>
        
            <if test="sex != null">
                ,sex = #{sex}
            </if>
        
            <if test="age != null">
                ,age = #{age}
            </if>
        
            <if test="birth != null">
                ,birth = #{birth}
            </if>
        
            <if test="email != null">
                ,email = #{email}
            </if>
        
            <if test="yn != null">
                ,yn = #{yn}
            </if>
        
        </trim>
        WHERE
        id = #{id}
    </update>

    <select id="findById" parameterType="java.lang.Long" resultMap="baseResultMap">
        SELECT
        <include refid="queryColumns" />
        FROM  user  /* 用户表 */
        WHERE
        id = #{id}
    </select>

    <select id="getAllList" parameterType="com.openmall.user.utils.Query"  resultMap="baseResultMap">
        SELECT
        <include refid="queryColumns" />
        FROM user  /* 用户表 */
        WHERE 1 = 1
        <include refid="wherecontation"/>
        ORDER BY id DESC
    </select>

    <select id="getPagenationList" parameterType="com.openmall.user.utils.PageQueryWrapper" resultMap="baseResultMap">
        SELECT
        <include refid="queryColumns" />
        FROM   user /*  用户表 */
        WHERE 1=1
        <include refid="wherecontation"/>
        ORDER BY id DESC
        LIMIT  #{startRow} ,#{endRow}
    </select>

    <select id="getPagenationListById" parameterType="com.openmall.user.utils.IdPageQuery" resultMap="baseResultMap">
        SELECT
        <include refid="queryColumns" />
        FROM   user /*  用户表 */
        WHERE id > #{minId}
        <include refid="wherecontation"/>
        ORDER BY id ASC
        LIMIT #{pageSize}
    </select>

    <select id="getCount" parameterType="com.openmall.user.utils.PageQuery" resultType="java.lang.Long">
        SELECT COUNT(*)  FROM  user  /*  用户表 */
        WHERE 1 = 1
        <include refid="wherecontation"/>
    </select>

    <select id="getCountBy" parameterType="com.openmall.user.utils.IdPageQuery" resultType="java.lang.Long">
        SELECT count(1)  FROM  user  /*  用户表 */
        WHERE 1 = 1
        <include refid="wherecontation"/>
    </select>

    <select id="getTotalCount" parameterType="com.openmall.user.utils.Query" resultType="java.lang.Long">
        SELECT count(1)  FROM  user /* 用户表 */
        WHERE 1=1
        <include refid="wherecontation"/>
    </select>

</mapper>
