{{if eq .config.Auto true}}
package {{.config.PackageName}}.dao.auto;
{{else}}
package {{.config.PackageName}}.dao;
{{end}}

import java.util.List;
import org.apache.ibatis.annotations.Param;
{{if eq .config.Auto true}}
import {{.config.PackageName}}.domain.auto.{{.backendObject.JavaBeanName}};
import {{.config.PackageName}}.domain.auto.{{.backendObject.JavaBeanName}}Query;
import {{.config.PackageName}}.utils.*;
{{else}}
import {{.config.PackageName}}.domain.{{.backendObject.JavaBeanName}};
import {{.config.PackageName}}.domain.{{.backendObject.JavaBeanName}}Query;
import {{.config.PackageName}}.utils.*;
{{end}}


/**
 * {{.backendObject.Comment}}
 * @author {{.author}}
 * @date {{.date}}
 **/
public interface {{.backendObject.JavaBeanName}}Mapper {

    /**
     *
     * @auto generated
     */
    int insert({{.backendObject.JavaBeanName}} {{.backendObject.JavaBeanNameLower}});

    /**
     *
     * @auto generated
     */
    int insertBatch(List<{{.backendObject.JavaBeanName}}> {{.backendObject.JavaBeanNameLower}}List);

    /**
     *
     * @auto generated
     */
    int deleteById(long id);

    /**
     *
     * @auto generated
     */
    int update({{.backendObject.JavaBeanName}} {{.backendObject.JavaBeanNameLower}});

    /**
     *
     * @auto generated
     */
    {{.backendObject.JavaBeanName}} findById({{.backendObject.JavaBeanName}} {{.backendObject.JavaBeanNameLower}});

    /**
     *
     * @auto generated
     */
    List<{{.backendObject.JavaBeanName}}> getAllList(Query<{{.backendObject.JavaBeanName}}Query> query);

    /**
     *
     * @auto generated
     */
    List<{{.backendObject.JavaBeanName}}> getPagenationList(PageQuery<{{.backendObject.JavaBeanName}}Query> pageQuery);

    /**
     *
     * @auto generated
     */
    List<{{.backendObject.JavaBeanName}}> getPagenationListById(IdPageQuery<{{.backendObject.JavaBeanName}}Query> idPageQuery);

    /**
     *
     * @auto generated
     */
    long getCount(PageQuery<{{.backendObject.JavaBeanName}}Query> pageQuery);

    /**
     *
     * @auto generated
     */
    long getTotalCount(Query<{{.backendObject.JavaBeanName}}Query> query);

    {{range $i,$field := .backendObject.Columns}}
    {{if eq $field.SingleQuery 1}}
    /**
     *
     * @generated
     */
    {{.backendObject.JavaBeanName}} search{{.backendObject.JavaBeanName}}By${field.JavaFieldNameUF}(@Param("${field.fieldName}") String ${field.fieldName}#if($shardingField && $shardingField.fieldName != $field.fieldName), @Param("${shardingField.fieldName}") ${shardingField.showType} ${shardingField.fieldName}#end);
    {{end}}
    {{end}}

    {{range $i,$field := .backendObject.Columns}}
    {{if eq $field.SingleQuery 1}}
    /**
     *
     * @generated
     */
    int update{{.backendObject.JavaBeanName}}By${field.JavaFieldNameUF}({{.backendObject.JavaBeanName}} ${backendObject.javaBeanNameLower});
    {{end}}
    {{end}}

}
